@keyframes zoomIn {
    from { opacity: 0; transform: translateY(30px) scale(0.7); }
    to { opacity: 1; transform: translateY(0) scale(1); }
}

.services-section {
    padding: 60px 20px;
    text-align: center;
    background-color: transparent; /* Changer en transparent pour laisser voir l'image de fond globale */
    color: var(--text-color);
}

.services-intro {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.services-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #f0f2f5;
}

.services-title .highlight {
    color: #f39c12; /* Orange */
}

.services-description {
    font-size: 1.2em;
    line-height: 1.6;
    color :#f0f2f5;
}

.service-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch; /* Ajouté pour que les éléments flex aient la même hauteur */
}

.service-card {
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Ajouté pour centrer le contenu textuel */
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out; /* Garder la transition pour le survol */
    animation: zoomIn 1s ease-out forwards; /* Animation d'apparition plus dynamique */
    opacity: 0; /* Assurez-vous qu'ils sont cachés au début */
}

/* Délai pour les cartes individuelles */
.service-cards-container .service-card:nth-child(1) { animation-delay: 0.1s; }
.service-cards-container .service-card:nth-child(2) { animation-delay: 0.2s; }
/* Ajoutez plus de délais si vous avez plus de cartes */

.service-card:hover {
    transform: translateY(-25px) scale(1.1); /* Effet de survol encore plus prononcé */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); /* Ombre portée plus intense */
    cursor: pointer;
}

.icon-wrapper {
    background-color: #f39c12; /* Orange */
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.service-icon {
    color: white;
    font-size: 40px;
}

.service-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: var(--text-color);
}

.service-card p {
    font-size: 1em;
    color: var(--text-color);
    line-height: 1.5;
}


@media (max-width:600px){
    .services-intro {
        width: 400px;
    }
}