name: SageMaker Training

on:
  push:
    branches:
      - master
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TRAINING_INPUT: ${{ secrets.TRAINING_INPUT }}
  TRAINING_CONFIG: ${{ secrets.TRAINING_CONFIG }}
  MODEL_OUTPUT: ${{ secrets.MODEL_OUTPUT }}
  ROLE_ARN: ${{ secrets.ROLE_ARN }}
  REGION_NAME: ${{ secrets.REGION_NAME }}
  SAGEMAKER_ENDPOINT: ${{ secrets.SAGEMAKER_ENDPOINT }}

jobs:
  train-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install "sagemaker>=2.0.0,<3.0.0" pandas scikit-learn joblib dotenv

      - name: Run SageMaker training
        run: |
          python ML/Pipelines/launch_training.py
