.cta-section {
    background-color: var(--card-bg);
    padding: 60px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Ajuster selon le besoin */
    max-width: 800px;
    transition: background-color 0.3s ease; /* Transition pour les changements de thème */
}

.cta-section h2 {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 30px;
}

.cta-button {
    background-color: var(--button-hover-bg); /* Orange plus foncé */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d35400; /* Orange encore plus foncé au survol */
}
